body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: #0f172a; 
    color: #cbd5e1; 
}
.container {
    display: grid; 
    grid-template-columns: 220px 1fr 320px; 
    height: 100vh; 
}
.sidebar, .right-panel { 
    background-color: #1e293b; 
    padding: 20px; 
    border-right: 1px solid #334155; 
}
.right-panel {
    border-right: none;
    border-left: 1px solid #334155; 
}
.main-content {
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

/* Cards & Layout */
.top-cards { display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px; }
.card, .chart-container, .log-feed, .crash-details { background-color: #1e293b; padding: 15px; border-radius: 8px; border: 1px solid #334155; }
.big-text { font-size: 24px; font-weight: bold; color: white; }

/* Alerts */
.error-card { border: 1px solid #ef4444; }
.error-text { color: #ef4444; }
.log-entry { background-color: #1e293b; padding: 10px; border-left: 4px solid #38bdf8; font-family: monospace; font-size: 14px; }
.log-entry.critical { background-color: #450a0a; border-left: 4px solid #ef4444; }
.timestamp { color: #94a3b8; margin-right: 10px; }
hr { border-color: #334155; }

/* Navigation */
ul { list-style: none; padding: 0; }
ul li { padding: 12px 0; cursor: pointer; color: #94a3b8; transition: 0.2s;}
ul li.active { color: #38bdf8; font-weight: bold; border-left: 3px solid #38bdf8; padding-left: 9px; }
.view-section { display: none; flex-direction: column; gap: 20px; }
.view-section.active-view { display: flex; }

/* Buttons */
.action-btn { background: #ef4444; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-weight: bold; float: right;}
.action-btn:hover { background: #dc2626; }
.header-actions { overflow: hidden; }